:root {
    --white: #f1eee3;
    --green: 
}

@font-face {
  font-family: 'august-script';
  src:
      url('../font/august/August-Script-Bold-free.ttf.woff') format('woff'),
      url('../font/august/August-Script-Bold-free.ttf.svg#August-Script-Bold-free') format('svg'),
      url('../font/august/August-Script-Bold-free.ttf.eot'),
      url('../font/august/August-Script-Bold-free.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

.paper-back {
  background: url('../img/handmadepaper.png');
}

.m-auto {
  margin: auto;
}