:root {
    --white: #f6f6f6;
    --green: #013220;
    --light-green: #0f402e;
    --gold: #baa582;
}
@import url(https://db.onlinewebfonts.com/c/5c173ad9697fc1d8a9ef2de3fbefe3d7?family=Jane+Light+W00+Regular);

@font-face {
  font-family: 'august-script';
  src:
      url('../font/august/August-Script-Bold-free.ttf.woff') format('woff'),
      url('../font/august/August-Script-Bold-free.ttf.svg#August-Script-Bold-free') format('svg'),
      url('../font/august/August-Script-Bold-free.ttf.eot'),
      url('../font/august/August-Script-Bold-free.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'condensed';
  src:
      url('../font/condensed/CorpSansRdAlt-LightCnd.woff') format('woff'),
      url('../font/condensed/CorpSansRdAlt-LightCnd.ttf');
  font-weight: normal;
  font-style: normal;
}

.is-green {
  color: var(--green);
}

.is-gold {
  color: var(--gold);
}

.paper-back {
  background: url('../img/handmadepaper.png');
}

.m-auto {
  margin: auto;
}

.wrapped-border {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: var(--gold);

    color: var(--green);
    padding-top: 4px;
    padding-bottom: 4px;

    letter-spacing: 2px;
}

.names-mobile {
    font-family: "august-script";
    color: var(--light-green);
    text-align: center;
    font-size: 3em;
}

.names-desktop {
    font-family: "august-script";
    font-size: 5em;
    color: var(--light-green);
    text-align: center;
}

.condensed {
    font-family: 'condensed';
}

.content.is-vcentered {
  display: flex;
  flex-wrap: wrap;
  align-content: center; /* used this for multiple child */
  /* align-items: center; /* if an only child */
}


span.is-gold > a {
  color: var(--gold)!important;
  text-decoration: underline;
}

.is-flex > .flex-item {
  flex: 50%;
}